<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendiendo Flask - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="nav">
    <a href="{{ url_for('index') }}" class="nav__logo">Inicio</a>
</nav>

{% block content %}
    
{% endblock content %}

<footer>
    <p>Creado por: <span>Emilio Soto Andrade</span> </p>
</footer>
    
</body>
</html>