{% extends 'base.html' %}
{% block title %} Inicio {% endblock title %}

{% block content %}


<div class="container">
    <h1>Enlaces</h1>

    <ul class="indexLinks">
        <li class="indexLinks__item">
            <a href="{{ url_for('tablasMultiplicar') }}" class="indexLinks__link">Tablas de multiplicar</a>
        </li>
        <li class="indexLinks__item">
            <a href="" class="indexLinks__link">Prueba 1</a>
        </li>
        <li class="indexLinks__item">
            <a href="" class="indexLinks__link">Prueba 1</a>
        </li>
        <li class="indexLinks__item">
            <a href="" class="indexLinks__link">Prueba 1</a>
        </li>
    </ul>

</div>

    
{% endblock content %}